:root {
  --primary-text-color: #212121;
  --paragraph-text-color: #757575; /*цвет параграфов*/
  --title-text-color: #212121; /*цвет заголовков*/
  --accent-color: #2196f3; /*цвет акцентов*/
  --primary-white-color: #ffffff; /*цвет преимущественного*/
  --adress-text-color: rgba(255, 255, 255, 0.6); /*цвет текста в футере*/
}

body {
  background: #e5e5e5;
  color: #212121;
}

/* Логотип */

.logo {
  color: var(--accent-color);
}

.logopart1 {
  color: #000000;
}

.logopart2 {
  color: var(--primary-white-color);
}

/* site-nav*/

.site-nav .link {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts .contacts-item {
  color: var(--paragraph-text-color);
}

.contacts .contacts-item:hover,
.contacts .contacts-item:focus {
  color: var(--accent-color);
}

/*Hero*/

.hero-title {
  color: var(--primary-white-color);
}

.btn {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/*Section*/

/*.section-title {
  
} оставила данный класс на перечне преимуществ*/

.section .paragraph {
  color: var(--paragraph-text-color);
}

.work .team {
  /*заголовки для шрифтов*/
}

.profession {
  color: var(--paragraph-text-color);
}

/*Footer*/

.city {
  color: var(--primary-white-color);
}

.info .item {
  color: rgba(255, 255, 255, 0.6);
}
