:root {
  --primary-text-color: #212121;
  --paragraph-text-color: #757575; /*цвет параграфов*/
  --title-text-color: #212121; /*цвет заголовков*/
  --accent-color: #2196f3; /*цвет акцентов*/
  --primary-white-color: #ffffff; /*цвет преимущественного*/
  --adress-text-color: rgba(255, 255, 255, 0.6); /*цвет текста в футере*/
}

/* Сайт Студия */

body {
  background: #e5e5e5;
  color: #212121;

  font-family: Roboto, sans-serif;
}

/* Логотип */

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logopart1 {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logopart2 {
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* site-nav*/

.site-nav .link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts .contacts-item {
  color: var(--paragraph-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
}

.contacts .contacts-item:hover,
.contacts .contacts-item:focus {
  color: var(--accent-color);
}

/*Hero*/

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

/*Section*/

.section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section .paragraph {
  color: var(--paragraph-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work .team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
}

.team {
  background-color: #f5f4fa;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.profession {
  color: var(--paragraph-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19px;
  letter-spacing: 0.03em;
}

/*Footer*/

.footer {
  background-color: #2f303a;
}

.city {
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.info .item {
  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Сайт Портфолио */

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-item {
  color: var(--paragraph-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
